body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

#container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    margin-top: 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#response {
    margin-top: 20px;
}

#responsePlaceholder {
    height: 100px; /* Adjust the height as needed */
    border: 2px solid #ccc; /* Border for visualization */
    margin-bottom: 30px; /* Add some space below */
}
